body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
     font-family: 'Poppins', sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
      font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.logo:hover {
    color: #ffccd5;
    transition: 0.3s;
}
.hero {
   position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero {
    padding-top: 80px;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("./Images/photo_2026-04-14_13-09-00.jpg") center/cover no-repeat;

    filter: blur(2px);
    transform: scale(1.1); /* prevents edges from showing after blur */

    z-index: -1;
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.hero h1 {
    font-size: 48px;
    text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

#countdown {
    font-size: 40px;
    margin-top: 20px;
}


.gallery {
    padding: 50px;
}

.swiper-slide img {
    width: 300px;
    border-radius: 20px;
}

.message {
    padding: 50px;
    background: #1e293b;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #e2e8f0;
}